@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Nabvar */

.page-navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 11rem;
    padding-right: 11rem;
}

.navbar__logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
} 

.navbar__logo-links {
    display: flex;
    gap: 5rem;
}

.items {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3rem;
}


.item {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;

}

.item__text {
    line-height: 22px;
    color: #1BA0AB;
    text-decoration: none;
}

.btn {
    padding: 15px 25px;
    gap: 15px;
    width: 137px;
    height: 52px;
    background: #1BA0AB;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    text-align: center;
}

/* Header */

.page-header{
    height: 100vh;
    background: #FFF5F0;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}


.header-content {
    margin-bottom: 30px;
    margin-left: 9rem;
}

.main__note {
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #1BA0AB;
}


.header__title {
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin: 30px 0;
}


.header__message {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 30px 0;
}

.header-button{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
    align-items: center;
}

.btn--outlined {
    border: 1px solid #1BA0AB;
    border-radius: 5px;
    color: #1BA0AB;
    background-color: transparent;   
}



/* Main */

.main-page{
    margin-top:5rem ;
}
.expert-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.expert__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.expert__line {
    width: 94px;
    height: 7px;
    background-color: #E74040;
}

.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.text {
    font-style: 400;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

.item--highlighted {
    text-decoration: none;
    color: #1BA0AB;
}


/* cards */



.cards__content {
    padding-left: 10rem;
    padding-bottom: 5rem;
    padding-top: 10rem;
}

.note {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #1BA0AB;
}

.title--style{
    padding: 13px 0;
}

.card {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card__content {
    background: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    overflow: hidden;
}

.main__note--style {
    text-align: center;
    color: #252B42;
    padding-top: 20px;
}

.card__job {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #737373;
    padding: 10px 0;

}

.card__footer {
    text-align: center;
    margin-bottom: 2rem;
}

.card__icon {
    color: #1ba0ab;
    font-size: 22px;
    padding: 0 10px;
}


/* Footer */

.page-footer {
    margin-top: 100px;
}

.subscribe-content {
    background-color: #FFF5F0;
    height: 90vh;
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.subscribe-text {
    text-align: center;
    margin-bottom: 5rem;
}



.subscribe__form-button {
    display: flex;
    align-items: center;
    gap: -2px;
}


.subscribe__input {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
    padding-left: 20px;
    height: 52px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
}

.subscribe__input[type="text"] {
    background-color: #F9F9F9;
    margin-right: -4px;
}

.btn--subscribe {
    border-radius: 0px 5px 5px 0px;
}