@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.navbar__logo-links {
    display: flex;
    gap: 5rem;
}

.navbar__links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3rem;
}


.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 11rem;
    padding-right: 11rem;
}

.navbar__log {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.navbar__item {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;

}

.navbar__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #1BA0AB;
    text-decoration: none;
}

header {
    /* width: 100vw; */
    height: 100vh;
    background: #FFF5F0;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;

}

.header-content {
    margin-bottom: 30px;
    margin-left: 9rem;
}

.button-outlined {
    padding: 15px 30px;
    gap: 10px;
    width: 150px;
    height: 52px;
    border: 1px solid #1BA0AB;
    border-radius: 5px;
    color: #1BA0AB;
    text-decoration: none;
    font-weight: bold;
}

.header__links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    align-items: center;
    color: #737373;
}

.header__desc {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 30px 0;
}

.header__head {
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin: 30px 0;
}

.header__message {
    font-style: 400;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #1BA0AB;
}



.button-contained {
    padding: 15px 25px;
    gap: 15px;
    width: 137px;
    height: 52px;
    background: #1BA0AB;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    gap: 5rem;
}

.main__line {
    width: 94px;
    height: 7px;
    background-color: #E74040;
}

.main__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main__titl {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.main__descr {
    font-style: 400;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

.main__link {
    font-style: 400;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #1BA0AB;
    text-decoration: none;
}


.container__cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container__card {
    background: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    overflow: hidden;
}

.container__content {
    padding-left: 10rem;
    padding-bottom: 5rem;
    padding-top: 10rem;
}

.container_header {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin: 15px 0;
}

.container__descr {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #1BA0AB;
}

.container__text {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

.card__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    color: #252B42;
    padding-top: 20px;
}

.card__prof {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #737373;
    padding: 10px 0;
    
}

.fa-brands {
    color: #1BA0AB;
    font-size: 22px;
    /* align-items: center; */
    padding: 0 10px;
}

.card__footer{
    text-align: center;
    /* align-items: center; */
    margin-bottom:2rem ;
}

.footer__content {
    background-color: #FFF5F0;
    /* width: 100vw; */
    height: 90vh;
    background-position: bottom;
    background-size: cover;
    justify-content: center;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.footer__text {
    text-align: center;
}

.footer__form-button {
    display: flex;
    align-items: center;
    gap: -2px;
}

.main__input {
    height: 52px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
}

.main__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
    padding-left: 20px;
}

.main__input[type="text"] {
    background-color: #F9F9F9;
    margin-right: -4px;

}

footer {
    margin-top: 100px;
}

.footer__brief {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #1BA0AB;
}

.footer__heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin: 15px 0;
}

.footer__descr {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

.footer__button {
    padding: 15px 20px;
    gap: 10px;
    width: 120px;
    height: 52px;
    background: #1BA0AB;
    border-radius: 0px 5px 5px 0px;
    color: white;
    text-decoration: none;
}